<body>
    <section class="py-0 text-center container" >
      <div class="row py-lg-0">
        <div class="col-lg-6 col-md-8 mx-auto">
          <img src="https://i.postimg.cc/d3skd8H3/your-vet-clinic-removebg-preview.png" alt=""  width="280" height="300" >
          <br>
          <h1 class="letra1" style="font-weight: bold;">¡Bienvenid@!</h1>
          <h2 class="letra1" style="font-weight: bold;">Selecciona lo que deseas hacer</h2>
        </div>
      </div>
    </section>
  
    <br>
    <br>
    <!-- Aqui comienza los cards con las opciones -->
    
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
            <div class="card">
                <a href="veterinaria">
                <img class="card-img-top" src="https://i.postimg.cc/T2mgbyCY/1.jpg" alt="Card image cap">
                </a>
              </div>
        </div>
        
        <div class="col">
          
        </div>
        <div class="col">
            <a href="animal">
            <div class="card">
                <img class="card-img-top" src="https://i.postimg.cc/ZY3sq5N6/2.jpg" alt="Card image cap">
           
              </div>
            </a>
        </div>
      </div>
    </div>
  
    <br>
  
  
  </body>